[Unit]
Description=OpenSSH Management (Pi shell on port 2222)
After=network.target

[Service]
ExecStart=/usr/sbin/sshd -D -f /etc/ssh/sshd_config
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
