[Unit]
Description=WiFi GPIO jumper check
Before=NetworkManager.service
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wifi-gpio.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
